.cart{
    position: sticky;
    top: 0;
}
.exercice-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
    background-color: lightgray;
}

.exercice-detail{
    margin-top: 30px;
    padding: 8px;
}